*config.py
*.DS_Store
.ipynb_checkpoints
venv/
Python Challenge/solutions.txt
Python Challenge/Solutions.md

chatgpt_discordbot/.env
GameStop.sql
twitter/.env
*.jpg
*.png
*.xml
*.iml
.DS_Store
*.html
Wisteria/.env
Wisteria/.env
Wisteria/discordExport.txt
